@import '../../sass/base/variables.scss';

.auth{
    width: 100vw;
    height: 100vh;
    padding: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 180px;
    }
    &__form{
        color: white;
        margin-top: 5px;
        width: 100%;
        max-width: 300px;
    }
    &__title{
        margin-bottom: 7px;
        margin-top: 20px;
    }
    input{
        width: 100%;
        height: 45px;
        font-size: 13px;
    }
    &__btn{
        margin: 18px auto;
        height: 50px;
        font-size: 14px;
        border: none;
        box-shadow: $minor-shadow;
        color:$utility-color;
    }
}